<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.ts" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Node.js Reverse Proxy" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="http://localhost:4000/{R:0}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
